In [1]:
import nltk
import pandas as pd

In [ ]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [2]:
true =pd.read_csv('True.csv')
fake=pd.read_csv('Fake.csv')

In [3]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [4]:
display(true.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [5]:
display(true.head(10))

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [6]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [7]:
fake.subject.value_counts()

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [8]:
fake['target']=0
true['target']=1

In [9]:
true.head(10)

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",1
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017",1
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017",1

In [10]:
data=pd.concat([fake,true],axis=0)

In [11]:
data=data.reset_index(drop=True)

In [12]:
data=data.drop(['subject','date','title'],axis=1)

In [13]:
data.columns

Index(['text', 'target'], dtype='object')

### Tokenization

In [14]:
 from nltk.tokenize import word_tokenize

In [15]:
data['text']=data['text'].apply(word_tokenize)

### Stemming

In [16]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

In [18]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english")

In [19]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [20]:
data['text']=data['text'].apply(stem_it)

In [21]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

### StopWord Removal

In [37]:
#from nltk.corpus import stopwords
#nltk.download('stopword')
#print(stopwords.words('english'))

In [30]:
def stop_it(t):
    dt=[word for word in t if len(word)>2]
    return dt

In [31]:
data['text']=data['text'].apply(stop_it)

In [32]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [33]:
data['text']=data['text'].apply(' '.join)

### Splitting

In [35]:
from sklearn.model_selection import train_test_split

In [38]:
x_train,x_test,y_train,y_test=train_test_split(data['text'],data['target'], test_size=0.25)

display(x_train.head())
 
print('\n')

display(y_train.head())

38111    bogota reuter colombia senat has back law regu...
33175    bueno air reuter argentin station lampoon u.s....
23899    washington reuter u.s. attorney general jeff s...
36050    boa vista brazil reuter last august victor riv...
41365    london reuter brexit not game the european uni...
Name: text, dtype: object

38111    1
33175    1
23899    1
36050    1
41365    1
Name: target, dtype: int64

### Vectorization

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer( max_df=0.7)

tfidf_train = my_tfidf.fit_transform(x_train)
tfidf_test  = my_tfidf.transform(x_test)

In [40]:
print(tfidf_train)

  (0, 28628)	0.025540899671954557
  (0, 17870)	0.0335972803555416
  (0, 75944)	0.06901612386562145
  (0, 10149)	0.036360459988903464
  (0, 9301)	0.0357116778332675
  (0, 3557)	0.08558689390233021
  (0, 73478)	0.04835019167110351
  (0, 36540)	0.055714644578132536
  (0, 37974)	0.015857895246700796
  (0, 21470)	0.05694654225951309
  (0, 59115)	0.04422113158687636
  (0, 36110)	0.06432085006354105
  (0, 86778)	0.029670177257091
  (0, 32204)	0.08515467461190071
  (0, 41663)	0.10702361827559258
  (0, 51590)	0.02419729787271983
  (0, 81805)	0.032589426158176456
  (0, 44553)	0.04961096324546546
  (0, 82405)	0.023914153532356878
  (0, 52422)	0.09908538353950347
  (0, 42984)	0.09079473786304496
  (0, 73841)	0.03891899448801178
  (0, 13877)	0.0459094934669447
  (0, 70188)	0.025637900456612083
  (0, 31933)	0.039408359268185665
  :	:
  (33672, 28628)	0.06046813168287318
  (33672, 9301)	0.056364979714204136
  (33672, 37974)	0.012514533034031937
  (33672, 59115)	0.03489787285367348
  (33672, 86778)	0.02341473490857486
  (33672, 70188)	0.04046518749129029
  (33672, 31933)	0.031099790117563853
  (33672, 77683)	0.05810699418727702
  (33672, 59509)	0.019822470886868997
  (33672, 25772)	0.021209770635894146
  (33672, 51246)	0.021693037314022282
  (33672, 81607)	0.05225937265826427
  (33672, 55665)	0.022459468188427884
  (33672, 29157)	0.04898386451410274
  (33672, 81975)	0.036157401118398054
  (33672, 59373)	0.012531504140720393
  (33672, 10813)	0.040996841152778137
  (33672, 89045)	0.013516370364735264
  (33672, 61468)	0.04956554479952904
  (33672, 49664)	0.018061202197470132
  (33672, 88912)	0.0478897165060724
  (33672, 78161)	0.02507255455474858
  (33672, 10601)	0.03310344829001797
  (33672, 83211)	0.04658093833957855
  (33672, 37834)	0.03766214987042577

### Logistic Regression

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [43]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,y_train)
pred_1 = model_1.predict(tfidf_test)
cr1    = accuracy_score(y_test,pred_1)
print(cr1*100)

98.9042316258352

### PassiveAggressiveClassifier

In [47]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [48]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test,y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.65256124721603